

DB_URL=
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRATION=

SERVER_PORT=

UPLOAD_DIR=
MAX_FILE_SIZE=10MB
MAX_REQUEST_SIZE=10MB

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

ADMIN_UPI_ID=
ADMIN_MERCHANT_NAME=

CORS_ORIGINS=

LOG_LEVEL=
